# emerge table

In [2]:
import numpy as np
import pandas as pd

In [8]:
df_large = pd.read_csv("FINAL_olist_clean_analytics_table.csv")

In [9]:
df_large.isnull().sum()

order_id                            0
customer_id                         0
customer_unique_id              65308
customer_city                   65308
customer_state                  65308
order_status                        0
order_purchase_date                 0
order_reached_date                  0
order_estimate_delivery_date        0
product_id                          0
product_category_name            1638
seller_id                           0
price                               0
freight_value                       0
shipp_limit_date                    0
payment_type                        3
payment_installments                3
payment_value                       3
review_score                      861
seller_city                         0
seller_state                        0
dtype: int64

In [13]:
df_large.head(1)

,order_id,customer_id,customer_city,customer_state,order_status,order_purchase_date,order_reached_date,order_estimate_delivery_date,product_id,product_category_name,seller_id,price,freight_value,shipp_limit_date,payment_type,payment_installments,payment_value,review_score,seller_city,seller_state
0,00010242fe8c5a6d1ba2dd792cb16214,3ce436f183e68e07877b285a838db11a,campos dos goytacazes,RJ,delivered,2017-09-13,2017-09-20,2017-09-29,4244733e06e7ecb4970a6e2683c13e61,cool_stuff,48436dade18ac8b2bce089ec2a041202,58.9,13.29,2017-09-19,credit_card,2.0,72.19,5.0,volta redonda,SP

In [14]:
df_large.head(1)

,order_id,customer_id,customer_city,customer_state,order_status,order_purchase_date,order_reached_date,order_estimate_delivery_date,product_id,product_category_name,seller_id,price,freight_value,shipp_limit_date,payment_type,payment_installments,payment_value,review_score,seller_city,seller_state
0,00010242fe8c5a6d1ba2dd792cb16214,3ce436f183e68e07877b285a838db11a,campos dos goytacazes,RJ,delivered,2017-09-13,2017-09-20,2017-09-29,4244733e06e7ecb4970a6e2683c13e61,cool_stuff,48436dade18ac8b2bce089ec2a041202,58.9,13.29,2017-09-19,credit_card,2.0,72.19,5.0,volta redonda,SP

In [15]:
customer = pd.read_csv("FINAL_Customers.csv")

In [16]:
df_large = df_large.merge(customer[['customer_id','customer_unique_id']], on="customer_id",how='left')

In [17]:
df_large.isnull().sum()

order_id                            0
customer_id                         0
customer_city                   65308
customer_state                  65308
order_status                        0
order_purchase_date                 0
order_reached_date                  0
order_estimate_delivery_date        0
product_id                          0
product_category_name            1638
seller_id                           0
price                               0
freight_value                       0
shipp_limit_date                    0
payment_type                        3
payment_installments                3
payment_value                       3
review_score                      861
seller_city                         0
seller_state                        0
customer_unique_id                  0
dtype: int64

In [18]:
df_large.head(100)

,order_id,customer_id,customer_city,customer_state,order_status,order_purchase_date,order_reached_date,order_estimate_delivery_date,product_id,product_category_name,...,price,freight_value,shipp_limit_date,payment_type,payment_installments,payment_value,review_score,seller_city,seller_state,customer_unique_id
0,00010242fe8c5a6d1ba2dd792cb16214,3ce436f183e68e07877b285a838db11a,campos dos goytacazes,RJ,delivered,2017-09-13,2017-09-20,2017-09-29,4244733e06e7ecb4970a6e2683c13e61,cool_stuff,...,58.90,13.29,2017-09-19,credit_card,2.0,72.19,5.0,volta redonda,SP,871766c5855e863f6eccc05f988b23cb
1,00018f77f2f0320c557190d7a144bdd3,f6dd3ec061db4e3987629fe6b26e5cce,NaN,NaN,delivered,2017-04-26,2017-05-12,2017-05-15,e5f2d52b802189ee658865ca93d83a8f,pet_shop,...,239.90,19.93,2017-05-03,credit_card,3.0,259.83,4.0,sao paulo,SP,eb28e67c4c0b83846050ddfb8a35d051
2,000229ec398224ef6ca0657da4fc703e,6489ae5e4333f3693df5ad4372dab6d3,NaN,NaN,delivered,2018-01-14,2018-01-22,2018-02-05,c777355d18b72b67abbeef9df44fd0fd,moveis_decoracao,...,199.00,17.87,2018-01-18,credit_card,5.0,216.87,5.0,borda da mata,MG,3818d81c6709e39d06b2738a8d3a2474
3,00024acbcdf0a6daa1e931b038114c75,d4eb9395c8c0431ee92fce09860c5a06,NaN,NaN,delivered,2018-08-08,2018-08-14,2018-08-20,7634da152a4610f1595efa32f14722fc,perfumaria,...,12.99,12.79,2018-08-15,credit_card,2.0,25.78,4.0,franca,SP,af861d436cfc08b2c2ddefd0ba074622
4,00042b26cf59d7ce69dfabb4e55b4fd9,58dbd0b2d70206bf40e62cd34e84d795,NaN,NaN,delivered,2017-02-04,2017-03-01,2017-03-17,ac6c3623068f30de03045865e4e10089,ferramentas_jardim,...,199.90,18.14,2017-02-13,credit_card,3.0,218.04,5.0,loanda,PR,64b576fb70d441e8f1b2d7d446e483c5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,00685d31ae12e47470ba5c18ba74f22c,eac2fb60d3f12675772fa03f9d8f8ddb,NaN,NaN,delivered,2017-08-27,2017-10-04,2017-09-26,71bdf1a4d18c3cd68f108547f0b4cd1c,moveis_decoracao,...,59.00,16.17,2017-08-31,credit_card,7.0,75.17,1.0,fernandopolis,SP,f113042ff356f926d517f3087d4a1ba8
96,0068c109948b9a1dfb8530d1978acef3,34417388de13fbcd12cfcbd9d1b8dfbd,NaN,NaN,delivered,2018-01-22,2018-02-08,2018-02-20,525f8fbde09c9bf777025c3141fbbc6e,climatizacao,...,35.90,15.79,2018-01-30,boleto,1.0,103.38,1.0,sao paulo,SP,d3581765bcf955dcf282b1642c74157c
97,0068c109948b9a1dfb8530d1978acef3,34417388de13fbcd12cfcbd9d1b8dfbd,NaN,NaN,delivered,2018-01-22,2018-02-08,2018-02-20,525f8fbde09c9bf777025c3141fbbc6e,climatizacao,...,35.90,15.79,2018-01-30,boleto,1.0,103.38,1.0,sao paulo,SP,d3581765bcf955dcf282b1642c74157c
98,0068e836900867da359bd81db9227a33,26355ea90aab63ebf5e90caa825a943d,porto alegre,RS,delivered,2017-09-29,2017-10-05,2017-10-24,735413ccfa564132a231aad945ef85ad,esporte_lazer,...,96.99,16.44,2017-10-05,boleto,1.0,113.43,5.0,umuarama,PR,f765c27dd5ad5be41dd370e1ee4657b4
99,0068fb0e223115e911d362627e8b8800,f0bc088c671f31458f73cc1a6a347842,NaN,NaN,delivered,2018-07-18,2018-07-25,2018-08-15,e53e557d5a159f5aa2c5e995dfdf244b,informatica_acessorios,...,77.90,13.89,2018-07-31,boleto,1.0,91.79,5.0,maringa,PR,0a0c4bf0b7fcb55a0d43abff1ea4569f

In [20]:
df_large.to_csv("Machine_learning_dataset_olist.csv",index=False)